@charset "EUC-KR";
html, body{
	height: 100%;
	width: 100%;
}
#banner{
	width: 100%;
	height: 30%;
}

#banner_label{
	font-size: 2.5em;
	position:absolute;
	top: 30%;
	left: 50%;
	transform: translate( -50%, -50% );
	color: white;
	font-weight: bold; 
	font-family: "monospace";
}